@model ObligatorioP3.LogicaAplicacion.DataTransferObjects.Dtos.Pedidos.PedidoListarDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Anular pedido</h1>

<h3>Estas seguro que quieres anular este pedido? Esta accion es permanente, atengase a las consecuencias.</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteDto.RazonSocial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClienteDto.RazonSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteDto.RUT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClienteDto.RUT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioFinal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Anular" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
