@model ObligatorioP3Consumidor.Models.Articulo.FechasYArticulosDTO

@{
    ViewData["Title"] = "Filtrar artículos por fecha de movimiento";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="FiltrarArticulosPorFechaMovimiento" method="post">
            <div class="form-group">
                <label asp-for="fecha1" class="control-label"></label>
                <input asp-for="fecha1" class="form-control" type="date" name="fecha1" />
                <span asp-validation-for="fecha1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha2" class="control-label"></label>
                <input asp-for="fecha2" class="form-control" type="date" name="fecha2" />
                <span asp-validation-for="fecha2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-route-pagina="1" value="Filtrar" class="btn btn-primary" />
            </div>
            <hr>
            <br/>
            @if (Model.listaArticulos != null && Model.listaArticulos.Count() > 0)
            {
                if ((int)ViewBag.Pagina > 1)
                {
                    var pag = (int)ViewBag.Pagina;
                    pag++;
                    <input type="submit" asp-action="FiltrarArticulosPorFechaMovimiento" asp-controller="Articulos" asp-route-pagina=@pag value="Siguiente" />
                    <input type="submit" asp-action="FiltrarArticulosPorFechaMovimiento" asp-controller="Articulos" asp-route-pagina="1" value="Ir al primero">
                }
                else
                {
                    var pag = (int)ViewBag.Pagina;
                    pag++;
                    <input type="submit" asp-action="FiltrarArticulosPorFechaMovimiento" asp-controller="Articulos" asp-route-pagina=@pag value="Siguiente" />
                }
            }
            else
            {
                if (Model.listaArticulos != null && Model.listaArticulos.Count() == 0)
                {
                    <input type="submit" asp-action="FiltrarArticulosPorFechaMovimiento" asp-controller="Articulos" asp-route-pagina="1" value="Ir al primero">
                }
            }
        </form>
    </div>
</div>

@if(Model.listaArticulos!=null && Model.listaArticulos.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Codigo
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Stock
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listaArticulos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
